apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      volumes:
        - name: init-sql
          emptyDir: {}
      initContainers:
        - name: init-db
          image: postgres:9.5-alpine
          command:
            - sh
            - -c
            - |
              cat <<EOF > /init/init.sql
              CREATE USER interview_accountapi_user WITH PASSWORD '123';
              CREATE DATABASE interview_accountapi OWNER interview_accountapi_user;
              EOF
          volumeMounts:
            - name: init-sql
              mountPath: /init
      containers:
        - name: postgresql
          image: postgres:9.5-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: root
            - name: POSTGRES_PASSWORD
              value: password
          volumeMounts:
            - name: init-sql
              mountPath: /docker-entrypoint-initdb.d
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -q
                - -d
                - postgres
                - -U
                - root
            initialDelaySeconds: 10
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
spec:
  selector:
    app: postgresql
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP