apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      containers:
        - name: vault
          image: vault:1.6.3
          ports:
            - containerPort: 8200
          env:
            - name: SKIP_SETCAP
              value: "1"
            - name: VAULT_DEV_ROOT_TOKEN_ID
              value: 8fb95528-57c6-422e-9722-d2147bcba8ed
---
apiVersion: v1
kind: Service
metadata:
  name: vault
spec:
  selector:
    app: vault
  ports:
    - port: 8200
      targetPort: 8200
  type: ClusterIP